:root {
    --backgroundColorB: #FBFCFE;

    --cellBackgroundColor: #fff;
    --cellBackgroundCOlorWInning: rgb(100, 190, 100);

    --shadow: 0px 4px 24px 0px rgba(79,114,205,0.15);
    --shadowBig: 0px 6px 6px 2px rgba(79,114,205,0.2)
}

body {
    margin: 0px;
}

.main {
    margin: 0px auto;
    width: 85%;
    background-color: var(--backgroundColorB);
    padding: 20px;
    border: 1px solid rgba(0,0,0, 0.2);
    border-radius: 5px;
    box-shadow: 0px 0px 30px rgba(0,0,0, 0.2);
}

.header {
    display: flex;
    justify-content: space-between;

}

.player-info {
    width: 45%;
    background-color: lightblue;
    border: 1px solid rgba(0,0,0, 0.2);
    border-radius: 5px;
    padding: 5px;
}

.status-message {
    margin-top: 1em;
    box-sizing: border-box;
    width: 100%;
    background-color: lightgreen;
    border: 1px solid rgba(0,0,0, 0.2);
    border-radius: 5px;
    text-align: center;
}

.gameboard {
    background-color: transparent;
    width: min-content;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
}

.gameboard-big {
    padding: 20px;
    gap: 10px;
}

.gameboard-small {
    padding: 3px;
    gap: 2px;
}

.cell {
    background-color: var(--cellBackgroundColor);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    border: 1px solid rgba(0,0,0, 0.1);
}

.cell-big {
    width: 150px;
    height: 150px;
    font-size: 8em;
    border-radius: 20px;
}

.cell-small {

    width: 18px;
    height: 18px;
    border-radius: 2px;

}

.cell-big:hover {
    box-shadow: var(--shadowBig);
    border: 1px solid rgba(0,0,0, 0.25);
    transition: background-color .2s ease-out,transform .2s ease-out,box-shadow .2s ease-out;
}

.possible-moves {
    display: flex;
}

.move {
    margin: 5px;
    padding: 5px;
    border: 1px solid rgba(0,0,0, 0.1);
    background-color: rgba(0,0,0, 0.1);
    border-radius: 5px;
}

.selected {
    border: 2px solid rgba(0,0,0, 0.75);
}

.mark {
    margin: auto;
}

.miniMaxScores {
    font-size: 8px;
    margin: 0;
    color: darkred;
}

.possible-win {
    border: 2px solid green;
}

.possible-loss {
    border: 2px solid red;
}

.possible-tie {
    border: 2px solid grey;
}