body {
    margin: 0px;

}

.main {
    margin: 0px auto;
    width: 85%;
    background-color: aliceblue;
    padding: 20px;
    border: 1px solid rgba(0,0,0, 0.2);
    border-radius: 5px;
    box-shadow: 0px 0px 30px rgba(0,0,0, 0.2);
}

.header {
    display: flex;
    justify-content: space-between;

}

.playerInfo {
    width: 45%;
    background-color: lightblue;
    border: 1px solid rgba(0,0,0, 0.2);
    border-radius: 5px;
    padding: 5px;
}

.statusMessage {
    margin-top: 1em;
    box-sizing: border-box;
    width: 100%;
    background-color: lightgreen;
    border: 1px solid rgba(0,0,0, 0.2);
    border-radius: 5px;
    text-align: center;
}

.gameBoard {

    margin-top: 1em;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 0.3em;
    justify-content: center;
    align-items: center;
}

.cell {
    background-color:silver;
    width: 150px;
    height: 150px;
    text-align: center;
    font-size: 8em;
    font-family: monospace;
    font-weight: bold;
}

.cell:hover {
    box-shadow: 0px 0px 10px rgba(0,0,0, 0.2);
}

.mark {
    margin: auto;
}

.miniMaxScores {
    font-size: 8px;
    margin: 0;
    color: darkred;
}